body {
    
    background-image: linear-gradient(to bottom right, rgb(48, 107, 111), rgb(36, 201, 246) );
  }

  .emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  header {
    text-align: center;
    background: #0758a0;
    background-size: cover;
    color: white;
   
  }
  .headerimage{
    margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
  }
  